<div id='container'>
  <navbar class="navigation">
    <ul>
      <li><a class="selected" href="/links">All Links</a></li>
      <li><a href="/shorten">Shorten</a></li>
      <li><a href="/signin">Sign In</a></li>
    </ul>
  </navbar>
  <input ng-model='searchText' placeholder="Search"/>
  <div class='link' ng-repeat='link in data.links | orderBy:"-visits" | filter:searchText'>
    <img src='/assets/redirect_icon.png'/>
    <div class="info">
      <div class="visits"><span class='count'>{{link.visits}}</span>Visits</div>
      <div class="title">{{link.title}}</div>
      <div class="original">{{link.url}}</div>
      <a ng-href='/{{link.code}}' target='_self'>{{link.baseUrl}}/{{link.code}}</a>
    </div>
  </div>
</div>
